<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media3.giphy.com/media/3o7aD9VKKJMeSbI4IU/giphy.gif?cid=ecf05e47e7ebac9f9bec8fc8fc04c0f4ed96a5929f689e67&rid=giphy.gif);">
  <div class="container">
    <h1>Escape without the travel</h1>
    <p>Holiday adventures on your doorstep</p>

    <%= form_tag experiences_path , method: :get, class: 'col-sm-6 m-auto' do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Try 'London' or 'Yoga'" %>
      <%= submit_tag "Search", class: "btn btn-primary book-small" %>
    <% end %>
  </div>
</div>
