<div class="container">
  <% if @experiences.count > 0 && params[:query].present? %>
    <h1 class="mt-5 mb-5">You searched for: <%= params[:query] %></h1>
    <%= render 'shared/search_results' %>
  <% elsif @experiences.count == 0 %>
    <h1 class="text-center mt-5">No results</h1>
  <% else %>
    <h1 class="mt-5 mb-5">Our most popular experiences</h1>
    <%= render 'shared/search_results' %>
  <% end %>
</div> <!-- container -->
