// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #e2e2e2;

/* SCSS RGB */
$azure-x-11-web-color: rgba(236, 248, 248, 1);
$isabelline: rgba(238, 228, 225, 1);
$xanadu: rgba(113, 129, 109, 1);
$claret: rgba(130, 9, 51, 1);
$old-lavender: rgba(122, 97, 116, 1);