<div class="container">
  <h1>Experiences#show</h1>

  <p>Title: <%= @experience.title %></p>
  <p>Description: <%= @experience.description %></p>
  <p>Price: <%= @experience.price %></p>
  <p>User: <%= @experience.user_id %></p>
</div>
