@media (min-width: 1200px) and (max-width: 5000px) {
  #map {
    height: 360px;
  }
}

@media (max-width: 1199px) {
  #map {
    height: 300px;
  }
}

@media (max-width: 991px) {
  #map {
    height: 300px;
  }
}
